{{!< default}}

{{!-- 
<h2>Highlights</h2>

{{#foreach posts}}
<div class='row post'>
  <div class='col-xs-8'>
    <a href='{{url}}'>
      <h4>TEDxSMU - You should learn to program</h4>
    </a>
    <time class="post-meta small text-muted" datetime="{{date format='YYYY-MM-DD'}}" style='font-size: 11pt'>
      {{date format="DD MMM YYYY"}}
    </time>
    <p class="small">{{excerpt}}&hellip;</p>
  </div>
  <div class='col-xs-3'>
    <a href='{{url}}'>
      <img class='img-thumbnail col-mid-3 hidden-xs' src='/img/thumbnails/tedxsmu.jpg'>
    </a>
  </div>
</div>
{{/foreach}}
 --}}

<h2>Featured</h2>

<a href="/you-should-learn-to-program/">
  <figure class="embed-top xlarge dark">
    <img src='/assets/images/tedxsmu.jpg' alt="TEDxSMU You Should Learn to Program" />
    <figcaption>
        TEDxSMU 2013: You Should Learn to Program
    </figcaption>
  </figure>
</a>

<br />
<br />

<a href="/musical-eating/">
  <figure class="embed-top xlarge dark">
    <img src='/assets/images/musicaleating.png' alt="Musical Eating" />
    <figcaption>
        SMU Talent Show: Musical Eating
    </figcaption>
  </figure>
</a>

<br />
<br />

<h2>All Posts</h2>
<ul class='ideas'>
{{#foreach posts}}
  <li class="{{post_class}}">
    <h5>
      <time class="post-meta small text-muted" datetime="{{date format='YYYY-MM-DD'}}">{{date format="YYYY MMM DD"}}</time>
      </span>
      <a href="{{url}}">{{{title}}}</a>
    </h5>
  </li>
{{/foreach}}
</ul>

{{!--   {{#foreach posts}}

        {{tags prefix="on "}}
  <article class="{{post_class}}">
      <header class="post-header">

      </header>
      <section class="post-excerpt">
          
      </section>
  </article>

  {{/foreach}}
 --}}